@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}


@font-face {
    font-family: Anton;
    src: url(../../public/fonts/Anton-Regular.ttf);
}



@font-face {
    font-family: GeneralSans;
    src: url(../../public/fonts/GeneralSans-Regular.ttf);
}


@font-face {
    font-family: GeneralSans-semibold;
    src: url(../../public/fonts/GeneralSans-Semibold.otf);
}

.btn-hover:hover {
    transition: all 0.4s ease;
    gap: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-rotate {
    animation: rotate 5s infinite linear;
}

.animate-rotate-star2 {
    animation: rotate 5s infinite linear;
}

.animate-rotate-diamond1 {
    animation: rotate 5s infinite linear;
}

.animate-rotate-star3 {
    animation: rotate 5s infinite linear;
}

.animate-rotate-diamond2 {
    animation: rotate 5s infinite linear;
}

.marquee-scroll {
    display: flex;
    animation: marquee-scroll 20s linear infinite;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}



.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.loadingSpinner {
    border-top: 2px solid #363636;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.confirmation_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}