@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{

    font-family: Anton;
    src: url(../../public/fonts/Anton-Regular.ttf);
}

@font-face
{
    font-family: GeneralSans;
    src: url(../../public/fonts/GeneralSans-Regular.ttf);  
}

