@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Anton;
    src: url(../../public/fonts/Anton-Regular.ttf);

    @font-face {

        font-family: GeneralSans;
        src: url(../../public/fonts/GeneralSans-Regular.ttf);
    }

    @font-face {
        font-family: GeneralSans-semibold;
        src: url(../../public/fonts/GeneralSans-SemiBold.otf);
    }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-rotate {
    animation: rotate 5s infinite linear;
}

/* Adjust the delay and other styles for each shape as needed */
.animate-rotate-star2 {
    animation: rotate 5s infinite linear; /* 1s delay */
}

.animate-rotate-diamond1 {
    animation: rotate 5s infinite linear; /* 2s delay */
}

.animate-rotate-star3 {
    animation: rotate 5s infinite linear; /* 3s delay */
}

.animate-rotate-diamond2 {
    animation: rotate 5s infinite linear; /* 4s delay */
}